<div class="container">
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <div class="card mb-3" style="width: 540px; height: 170px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/img/User-Icon.png" class="img-fluid rounded-start" alt="client-image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">Clientes</h1>
                            <p class="card-text">Todo lo relacionado con la gestión de las cuentas de los clientes</p>
                            <a class="btn btn-primary" [routerLink]="['clients']" routerLinkActive="router-link-active" >Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <div class="card mb-3" style="width: 540px; height: 170px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/img/accounts-image.jpg" class="img-fluid rounded-start" alt="accounts-image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">Productos</h1>
                            <p class="card-text">Gestiona las cuentas existentes en el sistema</p>
                            <a class="btn btn-primary" [routerLink]="['accounts']" routerLinkActive="router-link-active" >Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <div class="card mb-3" style="width: 540px; height: 170px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/img/transactions-image.png" class="img-fluid rounded-start" alt="transactions-image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">Transacciones</h1>
                            <p class="card-text">Revisa y gestiona las transferencias entre cuentas</p>
                            <a class="btn btn-primary" [routerLink]="['clients']" routerLinkActive="router-link-active" >Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>