<div class="container">
    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            <div class="card mb-3" style="width: 540px; height: 150px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Clientes</h5>
                            <p class="card-text">Todo lo relacionado con la gestión de las cuentas de los clientes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <div class="card mb-3" style="width: 540px; height: 150px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Productos</h5>
                            <p class="card-text">Gestiona las cuentas existentes en el sistema</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <div class="card mb-3" style="width: 540px; height: 150px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Transacciones</h5>
                            <p class="card-text">Revisa y gestiona las transferencias entre cuentas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>